/* @override http://harvester.ironcache.net/css/app.css */

/* app css stylesheet */

#menu-control {
  width : auto;
}

.xbox {
  border: 0.1em solid black;
  height: auto;
}

dd {
	padding-left: 20px;
	font-style: italic;
}

div.row {
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.navbar-nav>li {
	margin-left: 0;
	text-transform: none;
	text-align: center;
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
}

.x-state {
	margin-bottom: 0;
}

hr {
	width: 80%;
	height: 1px;
	background-color: #0432ff;
	color:#FF0066;
	margin: 10px auto;
}


.glyphicon {
	margin-right: 10px;
}

button.x-action {
	margin-bottom: 5px;
}

#wsx {
	background-color: #000;
}

#wsx ul {
	color: #8df900;
	margin-top: 10px;
	margin-bottom: 10px;
	font: 1em "Courier New", Courier, mono;
	padding-top: 5px;
	padding-bottom: 5px;
}

