<div>
    <h2>Agent Configuration</h2>

    <div ng-controller="agentsController">
        <table class="table table-striped">
            <!-- customise this to handle each option specifically -->
            <tr>
                <td>Current Active Agents</td>
                <td>{{ agentOptions.activeAgents }}</td>
            </tr>
            <tr>
                <td>Configured Agents</td>
                <td>{{ agentOptions.defaultAgents }}</td>
                <td><button class="btn btn-primary" ng-click="openDialog(agentOptions)">Change</button></td>
            </tr>
            <tr>
                <td>Maximum Allowed Agents</td>
                <td>{{ agentOptions.maxAgents }}</td>
            </tr>
            <tr>
                <td>Agent Timeout (millisecs)</td>
                <td>{{ agentOptions.timeout }}</td>
            </tr>
            <tr>
                <td>Agent Maximum Requests</td>
                <td>{{ agentOptions.max_rq }}</td>
            </tr>
            <tr>
                <td>Agent Gets</td>
                <td>{{ agentOptions.agent_gets }}</td>
            </tr>
            <!--<tr ng-repeat="option in agents_options_array">-->
                <!--<td>{{ option.key }}</td>-->
                <!--<td>{{ option.value }}</td>-->
                <!--<td><button class="btn btn-primary" ng-click="submitData(option) && closeThisDialog('Some Value')">Select</button></td>-->
            <!--</tr>-->
        </table>
    </div>
</div>