<div class="container-fluid">
<h2>Please set the Analysis</h2>

    <div ng-controller="analysisController">
        <table class="table table-striped">
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
            <tr ng-repeat="option in analysis_options_array">
                <td>{{ option.desc }}</td>
                <td><button class="btn btn-primary" ng-click="submitData(option) && closeThisDialog('Some Value')">Select</button></td>
            </tr>
        </table>
    </div>
</div>