<div class="container-fluid">
<h2>Set the Filter</h2>
    <div ng-controller="filterController">
        <table class="table table-striped">
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
            <tr ng-repeat="option in filter_options_array">
                <td>{{ option.desc }}</td>
                <td><button class="btn btn-primary btn-xs" ng-click="setFilter(option) && closeThisDialog('Some Value')">Select</button></td>
            </tr>
        </table>
        <button class="btn btn-primary btn-xs" ng-click="clearFilters() && closeThisDialog('Some Value')">Clear</button>
    </div>
</div>