<div class="container-fluid">

<h2>Stats View</h2>

        <table class="table table-striped">
            <tr>
                <th>Metric</th>
                <th>Current Value</th>
            </tr>

            <tr>
                <td>Agent Gets</td>
                <td>{{ stats_object.datasource.gets }} / {{ stats_object.filesource.source_count }}</td>
            </tr>
            <tr>
                <td>File Reads</td>
                <td>{{ stats_object.filesource.file_fetches }}</td>
            </tr>

            <tr>
                <td>Active Agents</td>
                <td>{{ stats_object.agent.active }}</td>
            </tr>
            <tr>
                <td>Agent Timeouts</td>
                <td>{{ stats_object.agent.timeouts }}</td>
            </tr>
            <tr>
                <td>Mnesia Writes</td>
                <td>{{ stats_object.db_server.mnesia_writes }}</td>
            </tr>
            <tr>
                <td>Mnesia Errors</td>
                <td>{{ stats_object.db_server.mnesia_errors }}</td>
            </tr>
            <!-- next rows are  only displayed if a serializer has been defined -->
            <tr ng-if="stats_object.rlogger">
                <td>Serialiser Writes</td>
                <td>{{ stats_object.rlogger.serializer_ok }}</td>
            </tr>
            <tr ng-if="stats_object.rlogger">
                <td>Serializer Nulls</td>
                <td>{{ stats_object.rlogger.serializer_nulls }}</td>
            </tr>
        </table>
</div>